services:
  render:
    # image: supervisely/base-py-sdk:6.73.274
    build:
      context: .
      dockerfile: Dockerfile.sdkbranch
    command: bash -c "export PYTHONPATH=/app && python3 -u /app/sly_sdk/render.py"
    working_dir: /app
    volumes:
    - ./sly_sdk:/app/sly_sdk:ro
    - ./src:/app/src:ro
    - ./config.json:/app/config.json:ro
    - ./requirements.txt:/app/requirements.txt:ro
    - ./dist:/app/app

  static:
    image: flashspys/nginx-static
    ports:
    - 35749:80/tcp
    volumes:
    - ./dist:/static:ro
